<!DOCTYPE html>
<html>
<head>
     <title>Winning Website</title>
 </head>

<body>
    <h1> The Pythoneers - Caitlin and Anna </h1>

    <p> Lets get Pythonal </p>
	
    <p> Two ambitous students delving into the world of 
	
    <p> Here she is! <a href="https://www.youtube.com/watch?v=Uun4RdG9DMk&feature=youtu.be" target=blank>Caitlin<a/> </p> 
	
	<p> To get to know us a little more click the following links below
	
	<p> Caitlin's Facebook <a href="https://www.youtube.com/watch?v=Uun4RdG9DMk&feature=youtu.be" target=blank>Caitlin's Facebook<a/> </p>
	
	<p> Anna's Facebook <a href="https://www.youtube.com/watch?v=Uun4RdG9DMk&feature=youtu.be" target=blank>Anna's Facebook<a/> </p>
</body>

</html>

<h1> Contact me </h1>

<form method="post" action="/contact"

    <label for="name">Name: </label>
    <input type="text" id="name" name='name'
    value="" placeholder="Enter your name"
    required="required" autofocus="autofocus" />
</br>


    <label for="message">Message: <label>
    <input type="text" id="message" name='message'
    value="" placeholder="Enter your message"
    required="required" />

    </br>

    <label for="email">Email: </label>
    <input type="Email" name="Email" id="Email" value="" 
    placeholder="Enter email address"
    required="required" />
   
    <input type="submit" value="submit" id="submit" />


</form>
